<footer id="legallab-footer">
  <%= link_to root_path do %>
    <div class="legallab-logo m-auto">
      <%= svg('ubisoft_white') %>
      <strong>UBISOFT</strong>
    </div>
  <% end %>

  <div class="legallab-footer-contact flex-cent m-auto">
    <%= form_tag example_modal_call_path, method: :get, id: "example_modal_call",
                                                     class: "modal-call" do %>

      <%= button_tag "modal example", class: "no-background p-0 ajax-call text-white" %>

    <% end %>
  </div>

</footer>
