<div class="open-dropdown" id="user_nav">
  <%= svg('ubisoft_user_white') %>

  <div class="dropdown-toggled w-250 left user_nav">
    <ul class="no-padding unstyle-list">
      <li class="text-cent">
        <span class="svg"><%= svg('YOUR_SVG') %></span>
        <%= link_to "to home", home_path, class: "text-left" %>
      </li>
    </ul>
  </div>
</div>
