<%= form_tag user_nav_call_path, method: :get, id: "user_nav_call", class: "relative" do %>

  <%= button_tag :submit, class: "no-background p-0" do %>
    <%= svg('ubisoft_user_white') %>
  <% end %>

  <div class="dropdown-ajaxified user_nav_call"><!-- AJAX USER NAV CALL --></div>

<% end %>
